
/* for pcs an stuff */
@media (min-device-width:585px), (min-width:585px) {

	.channel-top-row {
		width: 575px;
		height: 75px;
		padding-left: 75px;
		border-left-width: 75px;
	}

	.channel-entry {
		width: 575px;
		height: 75px;
	}

	.channel-number {
		width: 75px;
		height: 75px;
		line-height: 75px;
		font-size: 20px;
	}

	.channel-name,
	.channel-subCount {
		width: 203.5px;
	}

	.channel-top-row div {
		width: 210.5px;
	}

	.channel-avatar img {
		width: 75px;
		height: 75px;
	}

	.channel-name,
	.channel-subCount,
	.channel-top-row div {
		height: 75px;
		line-height: 72px;
		font-size: 20px;
	}

	.channel-entry:hover {
		box-shadow: inset 0px 0px 2px #888888;
	}

}

/* for phones and stuff */
@media (max-device-width:585px), (max-width:585px) {

	body {
		padding: 0;
		margin: 0;
	}
	.channel-top-row {
		width: 100vw;
		height: 12.5vw;
		padding-left: 12.5vw;
		border-left-width: 12.5vw;
	}
	
	.channel-entry {
		width: 100vw;
		height: 12.5vw;
	}

	.channel-number {
		width: 12.5vw;
		height: 12.5vw;
		line-height: 12.5vw;
		font-size: 3.5vw;
	}

	.channel-name,
	.channel-subCount {
		width: 37vw;
	}

	.channel-top-row div {
		width: 36vw;
	}

	.channel-avatar img {
		width: 12.5vw;
		height: 12.4vw;
	}

	.channel-name,
	.channel-subCount,
	.channel-top-row div {
		height: 12.5vw;
		line-height: 12.5vw;
		font-size: 3.5vw;
	}

	.channel-entry:hover {
		box-shadow: inset 0px 0px 0.5vw #888888;
	}

}

/**
 * rest of css
 *
 */
.channel-top-row {
	background: #333333;
	color: white;
	box-sizing: border-box;
	border-left-color: white;
	border-left-style: solid;
}

.channel-entry,
.channel-top-row {
	margin: auto auto 5px auto;
}

.channel-entry {
	background: #f1f1f1;
}

.channel-avatar,
.channel-number {
	display: inline-block;
}

.channel-number {
	display: inline-block;
	overflow: hidden;
	font-family: sans-serif;
	text-align: center;
	background: white;
}

.channel-name,
.channel-subCount,
.channel-top-row div {
	display: inline-block;
	overflow: hidden;
	font-family: sans-serif;
	text-align: center;

}

.channel-name a {
	color: #333333;
}
